body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Roboto', sans-serif ;
    color: white;
    background-image: url(https://images-ext-1.discordapp.net/external/DijgH1oGkpKRGW_soO3IQtj0wewJ6RbVjhEWZQlW3oU/https/user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png?width=292&height=536);
}

/* EFFETTI HOVER */
.box_contact:hover{
    background-color:#2E3336 ;
}

/* proprietà Macro struttura */
#container{
    width: 90%;
    height: 100vh;
    margin: 50px auto;
    display: flex;
    border-radius: 50px;
}
.left_container{
    width: 35%;
    height: 100%;
    border-right: solid 2px #2E3336;
    background-color: #09161E;
}
.right_container{
    width: 65%;
    height: 100%;
    background-image: url(https://images-ext-1.discordapp.net/external/JYkTAhOVokdezxtd4zc1zZPpU6VoUq9AQoSihbIONiI/https/i.pinimg.com/originals/85/ec/df/85ecdf1c3611ecc9b7fa85282d9526e0.jpg?width=363&height=536);
    background-repeat: no-repeat;
    background-size:cover ;
    
}
.top_left,
.top_right{
    height: 70px;
    background-color:#2E3336 ;
}

/* PROPRIETA LEFT_CONTAINER */

/* .top_left */
.top_left{
    border-right: solid 1px grey;
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img_profilo_container{
    display:flex;
    align-items: center;
    gap: 10px;
}
.img_profilo_container img{
    height: 50px;
    width: 50px;
    background-size: cover;
    border-radius: 50%;
}
.icon_container i{
    margin-left: 15px;
}
/* box notiche */
.box_notifiche{
    background-color: #32a895;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.box_notifiche i{
    color: white;
    font-size: 50px;
}
.box_notifiche span{
    text-decoration: underline;
}
/* input text search */
.search_container{
    text-align: center;
    border-bottom: solid 1px #2E3336;
    padding: 5px 0px;
}
.search_container input{
    border: none;
    border-radius: 20px;
    width: 90%;
    height: 40px;
    text-align: center;
    color: grey;
    background-color: #2E3336;
}
/* box contact */
.box_contact{
    color: white;
    padding: 10px 10px;
    height: 80px;
    border-bottom: solid 1px #2E3336;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.box_contact .info_contact{
    margin-left: 20px;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info_message,
.info_contact .messaggio {
    font-size: 14px;
    color:#869695 ;
}

.top_right{
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.chat_container{
    height: calc(100vh - 140px);
    padding: 0px 50px;
    display: flex;
    flex-direction: column;
}
.box_message_send{
    background-color: teal;
    align-self: flex-end;
}
.box_message_recived{
    background-color:#2E3336 ;
}
.box_message_send,
.box_message_recived{
    color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    width:fit-content;
    max-width: 40%;
    word-break: break-all;
}
/* footer right input text message */
.footer_right{
    height: 70px;
    width: 100%;
    color: grey;
    background-color:#2E3336;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_right input {
    padding: 0px 20px;
    color: grey;
    border-radius: 20px;
    width: 80%;
    height: 40px;
    border: none;
}
.footer_right i{
    margin-left: 20px;
    font-size: 25px;
}
