*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family:'Roboto', sans-serif ;
    color: white;
    background-image: url(https://images-ext-1.discordapp.net/external/DijgH1oGkpKRGW_soO3IQtj0wewJ6RbVjhEWZQlW3oU/https/user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png?width=292&height=536);
}

/* EFFETTI HOVER */
.box_contact:hover{
    background-color:#2E3336 ;
}
li:hover,
i:hover{
    cursor: pointer;
}
.box_message ~i{
    cursor: pointer;
    opacity: 1;
}
/* CLASSE HIDDEN PER FUNZIONE searchContact in VUE.JS */
.hidden{
    display: none!important;
}
/* CLASSE SHOW PER DROPDOWN MENU' MESSAGE */
.show{
    display: block!important;
}

/* PROPRIETA' MACRO STRUTTURA */
#container{
    width: 90%;
    height: 100vh;
    margin: 50px auto;
    display: flex;
    border-radius: 50px;
}
.left_container{
    width: 35%;
    height: 100%;
    border-right: solid 2px #2E3336;
    background-color: #131C20;
}
.right_container{
    width: 65%;
    height: 100%;
    background-image: url(https://images-ext-1.discordapp.net/external/JYkTAhOVokdezxtd4zc1zZPpU6VoUq9AQoSihbIONiI/https/i.pinimg.com/originals/85/ec/df/85ecdf1c3611ecc9b7fa85282d9526e0.jpg?width=363&height=536);
    background-repeat: no-repeat;
    background-size:cover ;
}
.top_left,
.top_right{
    height: 70px;
    background-color:#2A3132 ;
}

/* PROPRIETA LEFT_CONTAINER */

/* .top_left */
.top_left{
    border-right: solid 1px grey;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img_profilo_container{
    display:flex;
    align-items: center;
    gap: 10px;
}
.img_profilo_container img{
    height: 50px;
    width: 50px;
    background-size: cover;
    border-radius: 50%;
}
.icon_container{
    display: flex;
    gap: 15px;
}

/* box notiche */
.box_notifiche{
    background-color: teal;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.box_notifiche i{
    color: white;
    font-size: 35px;
}
.box_notifiche span{
    text-decoration: underline;
    font-size: 14px;
}
/* input text search */
.search_container{
    text-align: center;
    border-bottom: solid 1px #202B2E;
    padding: 5px 0px;
}
.search_container input{
    border: none;
    border-radius: 20px;
    width: 90%;
    height: 40px;
    text-align: center;
    color: lightgray;
    background-color: #2E3336;
}
/* box contact */
.box_contact{
    color: white;
    padding: 20px 10px;
    border-bottom: solid 1px #2E3336;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.box_contact .info_contact{
    margin-left: 20px;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.info_message,
.info_contact .messagge {
    font-size: 14px;
    color:#869695 ;
}


/* PROPRIETA' RIGHT CONTAINER */

/* NB:per proprietà img_container e img profilo vedi 'proprietà left_container' */

/* proprietà div .top_right */
.top_right{
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
/* proprietà div .chat_container */
.chat_container{
    height: calc(100vh - 140px);
    padding: 0px 50px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
.box_message{
    font-size: 16px;
    position: relative;
}
.box_message i{
    position: absolute;
    top:2px;
    right: 4px;
    opacity: 0;
}
.box_message_sent{
    background-color: teal;
    align-self: flex-end ;
}
.box_message_received{
    background-color:#2E3336 ;
}
.box_message_sent,
.box_message_received{
    color: white;
    margin: 10px;
    padding: 20px;
    border-radius: 8px;
    min-width:40%;
    max-width: 40%;
    word-break: break-word;
}
.date_message{
    position: absolute;
    bottom: 5px;
    right:3px;
    font-size: 12px;
}
/* footer right input text message */
.footer_right{
    height: 70px;
    width: 100%;
    color: lightgray;
    background-color:#2A3132;
    border-left: solid 1px grey;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 25px;
}
.footer_right input {
    padding: 0px 20px;
    background-color: #454443;
    font-size: 16px;
    color: lightgray;
    border-radius: 20px;
    width: 80%;
    height: 40px;
    border: none;
}
/* PROPRIETA' DROPDOWN MENU' MESSAGE */
.dropdown_menu_message{
    width: 150px;
    height: 75px;
    padding: 10px;
    background-color:#2E3336;
    color: white;
    box-shadow: 2px 2px 2px black;
    text-align: center;
    list-style: none;
    position: absolute;
    top: 20px;
    z-index: 2;
    display: none;
}
.dropdown_menu_message li{
    padding: 5px;
}

/* PROPRIETA' IMG INTRO APP */
.intro{
    width: 65%;
    height: 100%;
    background-color: #222F37;
    color: #CED5D5;
    text-align: center;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    position: relative;
}
.footer_intro{
    height: 8px;
    width: 100%;
    background-color:teal;
    position: absolute;
    bottom: 0;
    left: 0;
}
